.react-select .react-select__control {
	border: none;
	background-color: theme("backgroundColor.gray.100");
	border-radius: theme("borderRadius.lg");
	padding: theme("padding.2");
	height: theme("height.full");
	width: theme("width.full");
}
